/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
  /* ADDED THIS STUFF FOR THE BACKGROUD. REMOVE IF NO BACKGROUND */
  padding:10px;
  padding-bottom:90px;   /* Height of the footer */

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #f5f5f5;
  z-index:-1;
}

