{% extends "sign_in.html" %}
{% block body %}
{% if g.user %}
    <center>
        <br/> 
        <p><a class="btn btn-warning btn-xlg" href="#" role="button">
            <i class="fa fa-search-plus fa-2x"></i>
            &nbsp;&nbsp;&nbsp;
            Find my Dirty Tweets!</a></p>
        <br/>

        <br/>
        <br/>

        <h3>
            Hello {{ g.user.screen_name }}!  Wanna tweet something?
        </h3>
        <br/>
        <br/>
        <br/>

   
        <form action="{{ url_for('tweet') }}"  method=post>
          <p>
            <input type=text name=tweet size=50>
            <input type=submit value="Tweet!">
        </p>
        </form>
    </center>
    {% if tweets %}

        <h2>Your Timeline</h2>
            {% for tweet in tweets %}
            <div class="col">            

              <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" aria-label="...">
                    </span> 
                    <div class="media">
                      <div class="media-left media-top">
                          <img class="media-object" src="{{ tweet.user.profile_image_url_https }}" alt="...">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                            <a href="http://twitter.com/{{ tweet.user.screen_name }}">
                                {{ tweet.user.screen_name }}
                            </a>
                        </h4>
                        {{ tweet.text|urlize }}
                      </div>
                    </div>
                </div>

            </div>

<!-- 
                <li class="list-group-item"><a href="http://twitter.com/{{ tweet.user.screen_name
                }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li> -->
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <br/><br/><br/>
    <center>
        <h2>
          Sign in to view your public timeline and to tweet from this application.
        </h2>
    </center>

{% endif %}

{% endblock %}