{% extends "sign_in.html" %}
{% block body %}
{% if g.user %}
    <center>
        <br/> 
        <p><a class="btn btn-warning btn-xlg" href="#" role="button">
            <i class="fa fa-search-plus fa-2x"></i>
            &nbsp;&nbsp;&nbsp;
            Find my Dirty Tweets!</a></p>
        <br/>

        <br/>
        <br/>

        <h3>
            Hello {{ g.user.screen_name }}!  Wanna tweet something?
        </h3>
        <br/>
        <br/>
        <br/>

   
        <form action="{{ url_for('tweet') }}"  method=post>
          <p>
            <input type=text name=tweet size=50>
            <input type=submit value="Tweet!">
        </p>
        </form>
    </center>
    {% if tweets %}

        <h2>Your Timeline</h2>
        <ul>
            {% for tweet in tweets %}
                <li class="list-group-item"><a href="http://twitter.com/{{ tweet.user.screen_name
                }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <br/><br/><br/>
    <center>
        <h2>
          Sign in to view your public timeline and to tweet from this application.
        </h2>
    </center>

{% endif %}
    <br/> <br/> <br/>
    <div class='panel-footer'>
        <center>
            <h3>
                <i class="fa fa-refresh fa-spin"></i>
                &nbsp;
                CleanTweets
            </h3>
            <h5>
                Engineered by Hassaan Shakeel, Kurush Dubash, and Andrew Shao
            </h5>

        <center>
    </div>
{% endblock %}