{% extends "sign_in.html" %}
{% block body %}
{% if g.user %}
    <center>
        <br/> 
        <p><a class="btn btn-warning btn-xlg" href="#" role="button">
            <i class="fa fa-trash-o fa-2x"></i>
            &nbsp;&nbsp;&nbsp;
            Remove my Dirty Tweets!</a></p>
        <br/>

        <br/>
        <br/>

<!--    TWEET FORM 
        <h3>
            Hello {{ g.user.screen_name }}!  Wanna tweet something?
        </h3>
        <br/>
        <br/>
        <br/>

   
        <form action="{{ url_for('tweet') }}"  method=post>
          <p>
            <input type=text name=tweet size=50>
            <input type=submit value="Tweet!">
        </p>
        </form> -->
    </center>
    {% if tweets %}

        <h2>Your Dirty Tweets: </h2>
        <br/> <br/>
        <ul class=navigation>
            {% for tweet in tweets %}
            <li class="list-group-item">
                <div class="media">
                  <div class="media-left media-top">
                    <a href="http://twitter.com/{{ tweet.user.screen_name }}">
                      <img class="media-object" src="{{ tweet.user.profile_image_url }}" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                        <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}">
                            {{ tweet.user.screen_name }}
                        </a>
                    </h4>
                    {{ tweet.text|urlize }}
                  </div>
                </div>
            </li>

<!-- 
                <li class="list-group-item"><a href="http://twitter.com/{{ tweet.user.screen_name
                }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li> -->
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <br/><br/><br/>
    <center>
        <h2>
          Sign in to view your public timeline and to tweet from this application.
        </h2>
    </center>

{% endif %}

{% endblock %}