<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="CleanTweets! Sign-in page">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CleanTweets! </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>

  <body>

    

      <header id="top" class="header">
        <div class="text-vertical-center">
            <center>
            <h1>Clean Tweets</h1>
            <h3>Remove all of your offensive and incriminating tweets!</h3>
          </center>
            <br>

            <ul class=navigation>
              <li><a href="{{ url_for('index') }}">overview</a></li>
              {% if g.user %}
              <li><a href="{{ url_for('logout') }}">sign out [{{ g.user.screen_name}}]</a></li>
              {% else %}
              <li><a href="{{ url_for('login') }}">Sign in!</a></li>
              {% endif %}
            </ul>
            {% for message in get_flashed_messages() %}
              <p class=message>{{ message }}</p>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
      </header>

    

  </body>
</html>

